h1,
h2,
h3,
p,
span,
a,
button {
  font-family: var(--font-primary);
  color: var(--color-white);
}

.title {
  font-weight: 800;
  line-height: 1.4;
}

.title.lg {
  font-size: clamp(20px, 5vw, 48px);
}

.title.md {
  font-size: clamp(16px, 5vw, 40px);
}

.title.sm {
  font-size: 22px;
}

.title.center {
  text-align: center;
}

.anchors {
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
}

.paragraph {
  font-weight: 400;
  line-height: 1.8;
  font-size: 16px;
}

.paragraph.purple {
  color: var(--color-purple);
}

.saibaMaisProjects {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-purple);
}
